<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <% if logged_in? %>
        <p><a href="/logout">Log Out</a></p>
      <% else %>
        <p><a href="/signup">Sign Up</a> or <a href="/login">Log In</a></p>
      <% end%>
      
      <%= yield %>

    </div>

  </body>
</html>
